@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(231 224 232);
    --foreground: rgb(36, 31, 41);

    --card: rgb(242, 234, 245);
    --card-foreground: rgb(36, 31, 41);

    --popover: rgb(242, 234, 245);
    --popover-foreground: rgb(36, 31, 41);

    --primary: rgb(107 83 140);
    --primary-foreground: rgb(255 255 255);

    --secondary: rgb(100 90 112);
    --secondary-foreground: rgb(255 255 255);

    --muted: rgb(214, 187, 251);
    --muted-foreground: rgb(82, 77, 90);

    --accent: rgb(214, 187, 251);
    --accent-foreground: rgb(83, 77, 92);

    --destructive: rgb(186 26 26);
    --destructive-foreground: rgb(255 255 255);

    --border: rgb(123 117 127);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(0 0% 3.9%);

    --radius: 25px;
  }

  .dark {
    --background: rgb(21 18 24);
    --foreground: rgb(231 224 232);

    --card: rgb(36, 31, 41);
    --card-foreground: rgb(201, 195, 203);

    --popover: rgb(36, 31, 41);
    --popover-foreground: rgb(201, 195, 203);

    --primary: rgb(214 187 251);
    --primary-foreground: rgb(59 37 91);

    --secondary: rgb(206 194 218);
    --secondary-foreground: rgb(53 45 64);

    --muted: rgb(92, 83, 100);
    --muted-foreground: rgb(201, 195, 203);

    --accent: rgb(77, 29, 126);
    --accent-foreground: rgb(201, 195, 203);

    --destructive: rgb(255 180 171);
    --destructive-foreground: rgb(105 0 5);

    --border: rgb(149 142 153);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
  }
}

@layer base {
  * {
    @apply border-border;
    @apply transition-colors duration-500;
  }
  body {
    @apply bg-background text-foreground;
  }
}
